#search-results {}

.search-results-item {
    border: solid 1px #1a1b1c;
    margin: 32px 64px;
    padding: 8px 32px;
    cursor: pointer;
    transition: all 0.2s;
}

.search-results-item:hover {
    border-color: #AEAEAE;
}

.search-results-item-text, .search-results-item-img {
    display: inline-block;
}

.search-results-item-text {
    margin-left: 32px;
    vertical-align: top;
}

.search-results-item-text-title {
    font-family: 'Bold';
    font-size: 22px;
}

.search-results-item-text-author {
    font-family: 'Regular';
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 8px;
}
