#top-menu2 {
    position: relative;
    height: 64px;
    line-height: 64px;
    color: #1a1b1c;
    border-top: solid 3px #1a1b1c;
    text-align: center;
}

#top-menu2-title {
    display: inline-block;
    font-size: 36px;
}

#top-menu2-return {
    display: inline-block;
    float: left;
    color: #FFFFFF;
    background: #1a1b1c;
    width: 128px;
    font-size: 22px;
    cursor: pointer;
}
